<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MultipleCommonSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/Common/MultipleCommon.asmx"
                binding="basicHttpBinding" bindingConfiguration="MultipleCommonSoap"
                contract="ServiceReferenceCommon.MultipleCommonSoap" name="MultipleCommonSoap" />
        </client>
    </system.serviceModel>
</configuration>
