<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="backgroundWork" value="true" />
    <add key="syncminute" value="1" />
    <add key="log" value="log/" />
    <add key="taskfile" value="taskfile.xml" />
    <add key="files" value="file/" />
    <add key="DebugLog" value="true" />
    <add key="queuelog" value="queuelog/" />
    <add key="dataexchangelog" value="dataexchangelog/" />
    <add key="b_dataexchangelog" value="false" />
    <add key="dataexchangeversion" value="fypt" />
    <add key="whiteinstitutioncode" value="56304723233010211A5181" />
    <add key="fyptapiurl" value="http://heletech.asuscomm.com:8080/fypt-rest-api/api" />
    <add key="PT_Export_HTML" value="D:\wwwroot\PT\Export\HTML" />
    <add key="PT_Export_FILE" value="D:\wwwroot\PT\Export\File" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>