@{
    ViewBag.Title = "同步记录列表";
}
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div style="display:inline;">
            <span>姓名:</span>
            <input id="where_PersonName" style="line-height:26px;border:1px solid #ccc" />
            <span>同步状态</span>
            <select class="easyui-combobox" id="where_SyncStatus" style="width:200px;"></select>
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">搜索</a>
        </div>
    </div>
    <div style="margin-top:5px">
        <table id="db_list" style="width:100%;"></table>
    </div>
</dic>
@*脚本*@
<script type="text/javascript">
    function doSearch() {
        var param = {
            PersonName: $('#where_PersonName').val(),
            SyncStatus: $('#where_SyncStatus').combobox('getValues'),
        };
        console.log(param);
        $("#db_list").datagrid('load', param);
    }

    function deleteLog(id) {
        if (id <= 0) {
            jAlert("id异常,无效的记录id");
        }

        vl.confirm(vlConstraints.Sync_DeleteSync
            , function () { 
                $.ajax({
                    url: '/Sync/DeleteSyncOrder',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        syncOrderId: id
                    },
                    success: function (resp) {
                        console.log(resp);
                        if (resp.Message) {
                            vl.alert(resp.Message);
                        }
                    }
                });
            });
    }

    $(function () {
        vl.select("SyncStatus", false, "#where_SyncStatus");
        var customConfigId = vl.getQueryString("CustomConfigId");
        $.ajax
            ({
                url: "../Home/GetListConfig",
                type: "post",
                dataType: "json",
                data: JSON.stringify({ ListName: "Sync_SyncOrder", CustomConfigId: customConfigId }),
                contentType: "application/json",
                success: function (resp) {
                    if (resp.Code == 200) {
                        if (resp.msg != null && resp.msg != "") {
                            ShowMessage(resp.msg);
                        }
                        configData = resp.Data;
                        console.log(1);
                        vl_easyui.config(configData.CustomConfigId);
                        vl_easyui.wheres(configData.ViewConfig);
                        var columns = vl_easyui.properties(configData.ViewConfig);
                        //扩展操作按钮
                        var operateColumn = {
                            field: 'none', title: '操作', width: 200, halign: 'center', align: 'left'
                            , formatter: function (value, row, index) {
                                var id = row.Id;
                                var str = '<a href="#" class="easyui-linkbutton" plain="true" onclick="deleteLog(' + id + ')">清理同步记录</a>';
                                return str;
                            }
                        };
                        columns[0].push(operateColumn);
                        //init
                        $("#db_list").datagrid({
                            url: "GetPageListOfSyncOrder",
                            queryParams: {
                                PersonName: $('#where_PersonName').val(),
                                SyncStatus: $('#where_SyncStatus').combobox('getValues'),
                            },
                            pagination: true,
                            sortOrder: configData.ViewConfig.OrderBy.IsAsc ? "asc" : "desc",
                            sortName: configData.ViewConfig.OrderBy.ComponentName,
                            rownumbers: true,
                            singleSelect: true,
                            remoteSort: true,
                            fitColumns: false,
                            selectOnCheck: false,
                            checkOnSelect: false,
                            striped: true,
                            pageSize: 20,
                            pageList: [10, 20, 50],
                            columns: columns,
                            onDblClickRow: function (rowIndex, rowData) {
                                console.log(rowData);
                            }
                        });
                    } else {
                        if (resp.msg != null && resp.msg != "") {
                            ShowMessage(resp.msg);
                        }
                        console.log(2);
                    }
                }
            });
    });
</script>
