@{
    ViewBag.Title = "同步记录列表";
}
<div id="toolbar">
    @*奇怪的页面样式问题...上面有一段空白"*@
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="return false;">无法显示</a>
    <input type="hidden" id="CustomConfigId" />
</div>
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div style="display:inline;">
            <span>姓名:</span>
            <input id="where_personname" style="line-height:26px;border:1px solid #ccc" />
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">搜索</a>
        </div>
    </div>
    <div style="margin-top:5px">
        <table id="db_list" style="width:100%;"></table>
    </div>
</dic>
@*脚本*@
<script type="text/javascript">
    function doSearch() {
        $("#db_list").datagrid('load', {
            PersonName: $('#where_personname').val()
        });
    }

    $(function () {
        var customConfigId = vl.getQueryString("CustomConfigId");
        $.ajax
            ({
                url: "../Home/GetListConfig",
                type: "post",
                dataType: "json",
                data: JSON.stringify({ ListName: "Sync_SyncOrder", CustomConfigId: customConfigId }),
                contentType: "application/json",
                success: function (resp) {
                    if (resp.Code == 200) {
                        if (resp.msg != null && resp.msg != "") {
                            ShowMessage(resp.msg);
                        }
                        console.log(1);
                        configData = resp.Data;

                        vl_easyui.config(configData.CustomConfigId);
                        vl_easyui.wheres(configData.ViewConfig);
                        var columns = vl_easyui.properties(configData.ViewConfig);

                        //init
                        $("#db_list").datagrid({
                            url: "GetPageListOfSyncOrder",
                            queryParams: { PersonName: $('#where_personname').val() },
                            pagination: true,
                            sortOrder: configData.ViewConfig.OrderBy.IsAsc ? "asc" : "desc",
                            sortName: configData.ViewConfig.OrderBy.ComponentName,
                            rownumbers: true,
                            singleSelect: true,
                            remoteSort: true,
                            fitColumns: false,
                            selectOnCheck: false,
                            checkOnSelect: false,
                            striped: true,
                            pageSize: 20,
                            pageList: [10, 20, 50],
                            columns: columns,
                            onDblClickRow: function (rowIndex, rowData) {
                                console.log(rowData);
                            }
                        });
                    } else {
                        if (resp.msg != null && resp.msg != "") {
                            ShowMessage(resp.msg);
                        }
                        console.log(2);
                    }
                }
            });
    });
</script>
