@{
    ViewBag.Title = "同步记录";
}

@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        @*<div style="display:inline;">
            <span>姓名:</span>
            <input id="where_personname" style="line-height:26px;border:1px solid #ccc" />
            <span>同步日期:</span>
            <input id="where_personname" style="line-height:26px;border:1px solid #ccc" />
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">搜索</a>
        </div>*@
    </div>
    <div style="margin-top:5px">
        <table id="db_list" style="width:100%;"></table>
    </div>
</dic>