@{
    Layout = "_Pregnant.cshtml";
}
@*列表*@
<table width="100%" cellpadding="0" cellspacing="0" class="customtable">
    <tbody>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>基本情况</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>姓名</span></td>
            <td>吴志艳</td>
            <td><span>手机号码</span></td>
            <td>88913747</td>
            <td><span>就诊卡号</span></td>
            <td></td>
            <td><span>家庭电话</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>证件类型</span></td>
            <td>居民身份证</td>
            <td><span>身份证号</span></td>
            <td>330302196608153623</td>
            <td><span>性别</span></td>
            <td>女</td>
            <td><span>出生日期</span></td>
            <td>1966-08-15</td>
        </tr>
        <tr>
            <td><span>民族</span></td>
            <td>汉族</td>
            <td><span>国籍</span></td>
            <td>中国</td>
            <td><span>婚姻状况</span></td>
            <td></td>
            <td><span>文化程度</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>职业</span></td>
            <td></td>
            <td><span>工作单位</span></td>
            <td></td>
            <td><span>ABO血型</span></td>
            <td></td>
            <td><span>Rh血型</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>孕妇归属地</span></td>
            <td></td>
            <td><span>户口类型</span></td>
            <td></td>
            <td><span>是否农业户籍</span></td>
            <td>否</td>
            <td><span>生殖证发放地</span></td>
            <td></td>
        </tr>

        <tr>
            <td><span>产休地</span></td>
            <td></td>
            <td><span>产休地详情</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>户籍地址</span></td>
            <td>浙江省杭州市</td>
            <td><span>户籍详情</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>居住地址</span></td>
            <td>浙江省杭州市</td>

            <td><span>居住地址详情</span></td>
            <td>浙江温州市中西医院</td>
        </tr>
        <tr>
            <td><span>是否检查</span></td>
            <td>否</td>
            <td><span>建册年龄</span></td>
            <td>53</td>
            <td><span>孕册号</span></td>
            <td></td>
            <td><span>建册机构</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>配偶信息</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>姓名</span></td>
            <td></td>
            <td><span>职业</span></td>
            <td></td>
            <td><span>工作单位</span></td>
            <td></td>
            <td><span>家族史</span></td>
            <td></td>

        </tr>
        <tr>
            <td><span>证件类型</span></td>
            <td>居民身份证</td>
            <td><span>身份证号</span></td>
            <td></td>
            <td><span>出生日期</span></td>
            <td></td>
            <td><span>建册年龄</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>户籍地址</span></td>
            <td colspan="3"></td>
            <td><span>户籍详情</span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><span>居住地址</span></td>
            <td colspan="3"></td>
            <td><span>居住地址详情</span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><span>联系电话</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>孕前信息</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>基础体重(kg)</span></td>
            <td></td>
            <td><span>身高(cm)</span></td>
            <td></td>
            <td><span>孕前BMI</span></td>
            <td></td>
            <td><span>初潮年龄</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>经期(天)</span></td>
            <td><span class=" form_td_ctrl">-</span></td>
            <td><span>周期</span></td>
            <td><span class=" form_td_ctrl">-</span></td>
            <td><span>月经量</span></td>
            <td></td>
            <td><span>痛经</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>体格检查</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>收缩压(mmHg)</span></td>
            <td></td>
            <td><span>舒张压(mmHg)</span></td>
            <td></td>
            <td><span>脉搏(cpm)</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>本次孕情</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>末次月经</span></td>
            <td>2019-10-03</td>
            <td><span>预产期</span></td>
            <td>2020-05-14</td>

            <td><span>怀孕方式</span></td>
            <td></td>
            <td><span>怀孕详情</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>孕产史</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>孕次</span></td>
            <td>1</td>
            <td><span>产次</span></td>
            <td>0</td>
            <td><span>阴道分娩</span></td>
            <td></td>
            <td><span>剖宫产次数</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>孕产详情</span></td>
            <td colspan="7">性别：女，</td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>既往史</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>妊娠并发症史</span></td>
            <td colspan="3">无</td>
            <td><span>既往病史</span></td>
            <td colspan="3">无</td>
        </tr>
        <tr>
            <td><span>家族史</span></td>
            <td class="form_td form_td_ctrl " colspan="3">父亲:无父亲疾病史 母亲:无母亲疾病史 兄弟姐妹:无兄弟姐妹疾病史 子女:无子女疾病史</td>
            <td><span>手术史</span></td>
            <td colspan="3">无手术史</td>
        </tr>
        <tr>
            <td><span>妇科手术史</span></td>
            <td colspan="3"></td>
            <td><span>过敏史</span></td>
            <td colspan="3">无</td>
        </tr>
        <tr>
            <td><span>毒物接触史</span></td>
            <td colspan="3"></td>
            <td><span>遗传家族史</span></td>
            <td colspan="3">无</td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>建档情况</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>建档医生</span></td>
            <td></td>
            <td><span>建档机构</span></td>
            <td class="form_td form_td_ctrl " colspan="3">330302014</td>
            <td><span>最后修改医生</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span>建档日期</span></td>
            <td>2019-12-09</td>
            <td><span>建册孕周</span></td>
            <td><span class=" form_td_ctrl">17+4</span></td>
        </tr>
        <tr>
            <td colspan="8">
                <fieldset class="allborder"><legend>转入情况</legend></fieldset>
            </td>
        </tr>
        <tr>
            <td><span>转入来源区属</span></td>
            <td colspan="3"></td>
            <td><span>转入来源机构</span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><span>转入日期</span></td>
            <td></td>
        </tr>
    </tbody>
</table>


@*基本情况*@
@*姓名	    手机号码	    就诊卡号		家庭电话
    证件类型	身份证号	    性别	        出生日期
    民族	    国籍	        婚姻状况		文化程度
    职业		工作单位		ABO血型		    Rh血型
    孕妇归属地	户口类型		是否农业户籍	生殖证发放地
    产休地		产休地详情
    户籍地址	户籍详情
    居住地址	居住地址详情
    是否检查	建册年龄	    孕册号		    建册机构*@



<script type="text/javascript">
    function initData() {
        var pregnantInfoId = getQueryString("pregnantInfoId");
        $.ajax({
            url: "/Pregnant/GetPregnantInfo",
            type: "post",
            dataType: "json",
            data: { pregnantInfoId },
            success: function (resp) {
                console.log(1);
                //if (resp.data) {
                //    //对命名与返回值一致的统一作赋值处理
                //    var $items = $("#data-form input,select,textarea");
                //    $.each($items, function (index, item) {
                //        if (item.name != "MotherId" && item.name != "DeliveryId") {
                //            $(item).val("");
                //        }
                //        //console.log(item);
                //        if (resp.data[item.name]) {
                //            if (item.name == "pomo_time" || item.name == "TPDeliveryTime") {
                //                $(item).val(new Date(parseInt(resp.data[item.name].slice(6))).format("yyyy-MM-dd hh:mm"));
                //            }
                //            else {
                //                $(item).val(resp.data[item.name]);
                //            }
                //        }
                //    });
                //名称不一致的需另做赋值
            },
            error: function (resp) {
                console.log(2);
            }
       })
    }

    $(function () {
        //初始化数据
        initData();
    })
</script>
