@{
    ViewBag.Title = "孕妇档案列表";
}
<div id="toolbar">
    @*奇怪的页面样式问题...上面有一段空白"*@
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="return false;">无法显示</a>
</div>
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div style="display:inline;">
            <span>姓名:</span>
            <input id="in_name" style="line-height:26px;border:1px solid #ccc" />
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">搜索</a>
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doDownloadXML()">导出</a>
        </div>
    </div>
    <div style="margin-top:5px">
        <table id="db_list" style="width:100%;"></table>
    </div>
</dic>
@*脚本*@
<script type="text/javascript">
    function doSearch() {
        $("#db_list").datagrid('load', {
            name: $('#in_name').val()
        });
    }

    function doDownloadXML() {
        var name = $('#in_name').val()
        window.open("/Pregnant/GetConfigurablePagedListOfPregnantInfoExcel?name=" + name);
    }

    var displayType = {};
    displayType.None = 1;
    displayType.TextString = 2;
    displayType.TextInt = 21;
    displayType.TextDecimal = 22;
    displayType.Date = 3;
    displayType.DateTime = 31;

    //TODO enum的统一定义方案
    //TODO getEnumByName()
    //TODO getEnumByValue()

    $(function () {
        $.ajax
        ({
            url: "../Home/GetListConfig",
            type: "post",
            dataType: "json",
            data: JSON.stringify({ listName: "O_PregnantInfo" }),
            contentType: "application/json",
            success: function (resp) {
                if (resp.Code == 200) {
                    if (resp.msg != null && resp.msg != "") {
                        ShowMessage(resp.msg);
                    }
                    console.log(1);
                    var columns = [[]]
                    for (var i = 0; i < resp.Data.length; i++) {
                        var column = {}
                        var item = resp.Data[i];
                        column.field = item.ColumnName;
                        column.title = item.DisplayName;
                        column.width = item.DisplayWidth;
                        column.sortable = item.IsSortable;
                        column.halign = 'center';
                        column.align = 'left';
                        columns[0].push(column);
                    }

                    $("#db_list").datagrid({
                        url: "GetConfigurablePagedListOfPregnantInfo",
                        pagination: true,
                        rownumbers: true,
                        singleSelect: true,
                        remoteSort: true,
                        fitColumns: false,
                        selectOnCheck: false,
                        checkOnSelect: false,
                        striped: true,
                        pageSize: 20,
                        pageList: [10, 20, 50],
                        columns: columns,
                        onDblClickRow: function (rowIndex, rowData) {
                            //console.log(1);
                            var PregnantInfoId = rowData.id;
                            window.open("VisitRecordList?pregnantInfoId=" + PregnantInfoId);
                        }
                    });
                } else {
                    if (resp.msg != null && resp.msg != "") {
                        ShowMessage(resp.msg);
                    }
                    console.log(2);
                }
            }
        });
    });
</script>
