@{
    Layout = "";;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户角色配置</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="../../assets/module/admin.css?v=318" />
</head>
<body>
    <ul id="roleAuthTree" class="ztree"></ul>
    <script type="text/javascript" src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../assets/layui/layui.js"></script>
    <script type="text/javascript" src="../../assets/js/render_layui.js"></script>
    <script type="text/javascript" src="../../assets/js/common.js"></script>
    <script type="text/javascript">
        /**
        *  返回url的参数值
        * name 参数名称
        */
        function getQueryString(name) {
            //获取到Url并且解析Url编码
            var url = decodeURI(location.search);
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {

                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest[name];
        }
        var id = getQueryString("Id");
        layui.use(['layer', 'util', 'admin', 'zTree'], function () {
            const $ = layui.jquery;
            const layer = layui.layer;
            const util = layui.util;
            const admin = layui.admin;
            $.get('../../api/User/GetUserRoles', { id }, function (res) {
                if (200 === res.code) {
                    $.fn.zTree.init($('#roleAuthTree'), {
                        check: { enable: true },
                        data: { simpleData: { enable: true } }
                    }, res.data);
                } else {
                    layer.msg(res.msg, { icon: 2 });
                }
            }, 'json');
        });
        function yesFun() {
            let insTree = $.fn.zTree.getZTreeObj('roleAuthTree');
            let checkedRows = insTree.getCheckedNodes(true);
            let ids = [];
            for (let i = 0; i < checkedRows.length; i++) {
                ids.push(checkedRows[i].id);
            }
            let loadIndex = layer.load(2);
            sendAjax('post', '../../api/User/EditUserRoles'
                , JSON.stringify({ userId: id, roleIds: ids })
                , function (res) {
                    layer.close(loadIndex);
                    if (200 === res.code) {
                        layer.msg(res.msg, { icon: 1 });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                }
                //,"json"
            );
        }
    </script>
</body>
</html>