@{
    ViewBag.Title = "用户列表";
}
@*功能条*@
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('open')">分配角色</a>
</div>
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div id="toolbar" style="display:inline;margin-right:20px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="editUserRole()">分配角色</a>
        </div>
        <div style="display:inline;">
            <span>用户名:</span>
            <input id="in_username" style="line-height:26px;border:1px solid #ccc" />
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">搜索</a>
        </div>
    </div>
    <div style="margin-top:3px;">
        <table id="dg_user" style="width:900px;height:500px;" url="GetUserPagedList"></table>
    </div>
</dic>
@*弹窗-分配角色*@
<div id="dlg_edit" class="easyui-dialog" style="width:250px;height:550px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'" title="分配角色">
    <table id="dg_userrole" style="width:100%;height:90%;"></table>
    <div style="text-align:center;padding-top:10px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="editUserRoleCommit()" style="width:80px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg_edit').dialog('close');" style="width:80px">取消</a>
    </div>
    <form id="fm_edit" method="post">
        <input id="userId" name="userId" type="hidden" />
        <input id="roleIds" name="roleIds" type="hidden" />
    </form>
</div>
@*脚本*@
<script type="text/javascript">
    function doSearch()
    {
        $("#dg_user").datagrid('load', {
            username: $('#in_username').val()
        });
    }
    $(function () {
        $("#dg_user").datagrid({
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            remoteSort: true,
            fitColumns: false,
            selectOnCheck: false,
            checkOnSelect: false,
            striped: true,
            pageSize: 10,
            pageList: [10, 20, 50],
            columns: [[
              { field: 'UserId', hidden:'true' },
              { field: 'UserName', title: '用户', width: 100, halign: 'center', align: 'left' },
              { field: 'RoleNamesStr', title: '角色', width: 200, halign: 'center', align: 'left' },
            ]]
        });
    });
    function editUserRole() {
        var row = $('#dg_user').datagrid('getSelected');
        if (row) {
            $('#dlg_edit').dialog('open').dialog('center');
            $("#dg_userrole").datagrid({
                url: 'GetUserRoleListByUser',
                columns: [[
                  { field: 'IsChecked', checkbox: true },
                  { field: 'Id', hidden: 'true' },
                  { field: 'Name', title: '角色名称', width: 200, halign: 'center', align: 'left' },
                ]],
                queryParams: { UserId: row.UserId },
                onLoadSuccess: function (data) {
                    if (data) {
                        $.each(data.rows, function (index, item) {
                            if (item.IsChecked) {
                                $('#dg_userrole').datagrid('checkRow', index);
                            }
                        });
                    };
                }
            });
            $('#userId').val(row.UserId);
            //alert($('#userId').val());
        }
    }
    function editUserRoleCommit() {
        var rows = $('#dg_userrole').datagrid('getSelections');
        var roleIds = [];
        for (var i = 0; i < rows.length; i++) {
            roleIds.push(rows[i].Id);
        }
        $('#authorityIds').val(roleIds);
        var userId = $('#userId').val();
        $.ajax({
            url: "EditUserRole",
            type: "POST",
            data: { 'userId': userId, 'roleIds': roleIds },
            success: function (result) {
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg_edit').dialog('close');
                    $("#dg_user").datagrid('load', {
                        username: $('#in_username').val()
                    });
                }
            }
        });
    }
</script>