@{
    ViewBag.Title = "角色列表";
}
<div id="toolbar">
    @*一个奇怪的问题:此处"创建角色不能正常显示,但删除后下面的两个功能按钮无法正常显示"*@
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">无法显示</a>
</div>
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div id="toolbar" style="display:inline;margin-right:20px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#dlg_add').dialog('open')">添加角色</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="$('#dlg_edit').dialog('open')">编辑角色权限</a>
        </div>
    </div>
    <div style="margin-top:5px">
        <table id="dg_role" style="width:900px;height:550px;" url="GetRoleList"></table>
    </div>
</dic>
@*弹窗-添加角色*@
<div id="dlg_add" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'" title="添加角色">
    <form id="fm_add" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <div style="margin-bottom:20px">
                <label for="rolename">角色名称:</label>
                <input class="easyui-textbox" name="rolename" data-options="required:true">
            </div>
        </div>
        <div style="text-align:center;padding:0 0 0 10">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveRole()" style="width:80px">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg_add').dialog('close');" style="width:80px">取消</a>
        </div>
    </form>
</div>
@*弹窗-编辑角色权限*@
<div id="dlg_edit" class="easyui-dialog" title="Basic Dialog" data-options="closed:true,kiconCls:'icon-save'" style="width:550px;height:550px;">
</div>
@*脚本*@
<script type="text/javascript">
    $(function () {
        $("#dg_role").datagrid({
            pagination: false,
            rownumbers: false,
            singleSelect: true,
            remoteSort: false,
            fitColumns: false,
            selectOnCheck: false,
            checkOnSelect: false,
            striped: true,
            //pageSize: 3,
            //pageList: [3,10,20,50],
            columns: [[
                { field: 'Id', hidden: 'true' },
                { field: 'Name', title: '名称', width: 100, halign: 'center', align: 'left' },
            ]]
        });
    });
    function saveRole() {
        $('#fm_add').form('submit', {
            url: "AddRole",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }
            },
        });
    }
    function EditRoleAuthority() {
        //参考 function EditUserRole() {
        //var row = $('#dg_user').datagrid('getSelected');
        //if (row) {
        //    $('#dlg').dialog('open').dialog('center').dialog('setTitle', '分配角色');
        //    $("#dg_userrole").datagrid({
        //        url: 'GetUserRoleListByUser',
        //        UserId: row.UserId,
        //        columns: [[
        //          { field: 'HasRole', checkbox: true },
        //          { field: 'RoleId', hidden: 'true' },
        //          { field: 'RoleName', title: '角色名称', width: 100, halign: 'center', align: 'left' },
        //        ]],
        //        queryParams: { UserId: row.UserId },
        //    });
        //}
    }
</script>