@{
    ViewBag.Title = "角色列表";
}
@*功能條*@
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>
@*列表*@
<dic id="list">
    <div style="margin-top:5px">
        <div id="toolbar" style="display:inline;margin-right:20px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#dlg_add').dialog('open')">添加角色</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="EditRoleAuthority()">编辑角色权限</a>
        </div>
    </div>
    <div style="margin-top:5px">
        <table id="dg_role" style="width:900px;height:550px;" url="GetRoleList"></table>
    </div>
</dic>
@*弹窗-添加角色*@
<div id="dlg_add" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'" title="添加角色">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <label>角色名称：</label><input name="firstname" class="easyui-textbox" style="width:100%">
        </div>
    </form>
</div>
@*弹窗-编辑角色权限*@
<div id="dlg_edit" class="easyui-dialog" title="Basic Dialog" data-options="closed:true,kiconCls:'icon-save'" style="width:550px;height:550px;">
</div>
@*脚本*@
<script type="text/javascript">
    $(function () {
        $("#dg_role").datagrid({
            pagination: false,
            rownumbers: false,
            singleSelect: true,
            remoteSort: false,
            fitColumns: false,
            selectOnCheck: false,
            checkOnSelect: false,
            striped: true,
            //pageSize: 3,
            //pageList: [3,10,20,50],
            columns: [[
                { field: 'RoleId', hidden: 'true' },
                { field: 'RoleName', title: '名称', width: 100, halign: 'center', align: 'left' },
            ]]
        });
    });
    function saveUser() {
        $('#fm_add').form('submit', {
            url: "AddRole",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }
            }
        });
    }
    function EditRoleAuthority() {
        //参考 function EditUserRole() {
        //var row = $('#dg_user').datagrid('getSelected');
        //if (row) {
        //    $('#dlg').dialog('open').dialog('center').dialog('setTitle', '分配角色');
        //    $("#dg_userrole").datagrid({
        //        url: 'GetUserRoleListByUser',
        //        UserId: row.UserId,
        //        columns: [[
        //          { field: 'HasRole', checkbox: true },
        //          { field: 'RoleId', hidden: 'true' },
        //          { field: 'RoleName', title: '角色名称', width: 100, halign: 'center', align: 'left' },
        //        ]],
        //        queryParams: { UserId: row.UserId },
        //    });
        //}
    }
</script>