<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config>
	<item key="A1" value ="1" />
	<item key="A2" value ="2" />
	<item key="A3" value ="3" />
	<itemset key="DB">
		<item key="DefaultConnectionString" value ="4" />
		<item key="FYPTConnectionString" value ="5" />
		<item key="GJConnectionString" value ="6" />
	</itemset>
	<itemset key="Consul">
		<item key="ServiceName" value ="ConsulSampleService" />
		<item key="ServiceHost" value ="127.0.0.1" />
		<item key="ServicePort" value ="8077" />
		<item key="ServerHost" value ="127.0.0.1" />
		<item key="ServerPort" value ="8077" />
	</itemset>
</config>
